/* Built-ins */
h1.wikiaction { font-size:150%; margin:0px; }
#wikiedit textarea { width: 700px; height:330px; padding-top:0; }


/* General settings */
body {
	background: #CCC;
	font: 80%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #555; 
	margin: 5px;
	text-align: center;
}

a, a:visited {
	text-decoration: none;
	color: #2180BC;
	background: inherit;
}
a:hover {
	color: #88ac0b;
	background: inherit;
	text-decoration: underline;
}

h1, h2, h3, h4 { 
	margin-top: 10px;
	color: #88ac0b; 
	padding: 5px 0 5px 0; 	
	border-bottom: 1px solid #EFF0F1;
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
}
h1 { font-size: 160%; }
h2 { font-size: 140%; }
h3 { font-size: 125%; }
h4 { font-size: 110%; }

img { border-width:0; border-color:#ccc; }

ul, ol {
	margin: 5px;
	padding-left: 20px;
}

/* search form */
.searchform { padding: 10px; padding-top: 0;	 width: 180px;	}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 135px;
	color: #777; 
	height: 18px;
	margin-bottom: 5px;
	border: 1px solid #E5E5E5;
}
.searchform input.button { 
	width: 60px;
	height: 20px;
	padding: 0;
	color: #FFF;
	background: url("images/button-bg.jpg") repeat-x;
	font: bold 12px Arial, Sans-serif; 
	border: none;
}

/* layout */
#wrap {
	width: 960px;
	background: #CCC url("images/content.jpg") repeat-y center top;
	margin: 0 auto;
	text-align: left;
}
#content-wrap {
	clear: both;
	width: 910px;
	padding: 0; 
	margin: auto;
}

#header {
	width: 960px;
	position: relative;
	height: 103px;
	background: #CCC url("images/header.jpg") no-repeat center top;
	padding: 0;	
	color: #FFF;	
}
#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 44px 'Trebuchet MS', Arial, Sans-serif;
	color: #FFF;
	text-decoration: none;
	top: 25px; left: 47px;	
	border: 0;
}
#logo a { color: #2180BC; text-decoration: none; }
#logo a:hover{ color: #C8E2FC; text-decoration: none; }
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 12px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	top: 80px; left: 55px;		
}
#header-links {
	position: absolute;
	top: 20px; right: 40px;	
	color: #C6DDEE;
	font-size: 11px;	
}
#header-links a {	color: #FFF; text-decoration: none;	}
#header-links a:hover { color: #D4E59F; }


#menu {
	clear: both;	
	margin: 0 auto; padding: 0;
	background: url("images/menu.jpg") repeat-x 0 0;	
	font: bold 12px/37px Verdana, Arial, Tahoma, Sans-serif;
	height: 37px;
	width: 922px;	
}
#menu ul { float: right; list-style: none; margin:0; padding: 0; }
#menu ul li { display: inline; }
#menu ul li a {
	display: block;
	float: left;
	padding: 0 12px;
	color: #FFF;	
	text-decoration: none;
}
#menu ul li.last a { padding-right: 20px; }
#menu ul li a:hover { color: #D4E59F; }
#menu ul li#current a {	color: #D4E59F; }

#main {
	float: right;
	width: 700px;
	padding: 15px;
	display: inline;
}
#main ul li { list-style-image: url("images/bullet.gif"); }

#sidebar {
	float: left;
	width: 160px;
	padding: 10px; margin: 0;	
	color: #68774A;	
}	
#sidebar h3 {
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #728D26;	padding: 0; margin: 5px 0 10px 0;
}
#sidebar ul.sidemenu {
	list-style: none;
	padding: 0;
	text-decoration: none;	
}
#sidebar ul.sidemenu li {
	list-style: none;
	background: url("images/dots.jpg.html") repeat-x left bottom;
	padding: 3px 0 3px 0;
	color: #68774A;	
}
#sidebar ul.sidemenu li a {
	text-decoration: none;	
	background-image: none;	
	color: #666666;			
}
#sidebar ul.sidemenu li a:hover { color: #1773BC; }
#sidebar ul.sidemenu ul { padding: 0; }
#sidebar ul.sidemenu ul li { background: none; }

	
#footer {
	color: #C6DDEE;
	background: #CCC url("images/footer.jpg") no-repeat center top;
	clear: both;
	width: 960px;
	height: 65px;
	text-align: center;	
	padding: 15px 0 0 0;	
	
}
#footer a { 
	color: #FFF;
	text-decoration: none; 
}