/* Built-ins */
h1.wikiaction { font-size:150%; margin:0px; }
#wikiedit form { margin:1px solid #000; }
#wikiedit textarea { width:900px; height:350px; }
.indent { margin-left:30px; }
.outdent { margin-left:30px; text-indent:-30px; }
a.varlink { }
.diffbox { width:900px; }
.diffadd code, .diffdel code { padding-right:1px; white-space:normal; }
.diffrestore, .difftype, .difftime, .diffauthor { font-size:8pt; }
.diffrestore { margin-top:4px; }
.wikitrail { white-space:nowrap; }
.search, .wikisearch { margin-top:0px; margin-bottom:0px; }
.searchbox, .wikisearchbox, .newpagetext { background-color:#fcfcfc;
 border:1px solid #666; margin-right:3px; padding-left:3px; }
.searchbutton, .wikisearchbutton, .newpagebutton { background-color:#c2d2f2;
 border:1px solid #666; vertical-align: middle; }
#wikipreview { width:900px;  padding:10px; padding-top:4px;
 border:1px dotted #ccc; }

/*title*/
h1 code, h1 pre, h2 code, h2 pre, h3 code, h3 pre, h4 code, h4 pre, h5 code,
  h5 pre { font-size:100%; }
h1 { font-size:2.0em; margin-top:15px; margin-bottom:8px; }
h2 { font-size:1.47em; margin-top:9px; margin-bottom:6px; }
h3 { font-size:1.27em; margin-top:7px; margin-bottom:5px; }
h4 { font-size:1.08em; margin-top:6px; margin-bottom:5px; }
h5 { font-size:1.0em; margin-top:5px; margin-bottom:4px; }
h6 { font-size:1.0em; margin-top:5px; margin-bottom:4px; font-weight:normal; }

/* Links */
a { font-weight:bold; color:#003366; text-decoration:none; }
a:visited { font-weight:bold; color:#003389; text-decoration:none; }
a:hover { color:#0033cc; text-decoration:underline; }
a:active { color: #7b68ee; }
 
/* HTML Body */
body {
	color:#000; 
	background-color:#565E67; 
	font-size:9.4pt;
	font-family: Arial,Helvetica,sans-serif;
}

/* PageHeader */
header {
	height: 40px; 
	width: 980px;
	margin: 25px 0 0 15px;
}

#titolo { 
	width: 640px; 
	vertical-align: middle; 
	height: 40px; 
	background: url("title-tab.gif") no-repeat; 
	float: left; 
}

#tit1 { 
	color:#fff; font-size: 15pt; text-align: left; 
	padding-left: 10px; font-family: "Courier New", Courier, monospace; 
	font-weight: bold; width: 140px;
}

#tit1 a { color:#a9bde2; }

#tit2 { 
	color:#e5eaf4; text-align: left; 
	font-size: 12pt; width: 500px; 
}

#cerca { 
	width: 270px; height: 40px; 
	background: url("cerca-tab.gif") no-repeat;
	vertical-align: bottom; 
	text-align: center;
}

#cerca form.search { display:inline; }
#cerca input.searchbox { font-size:9px; width: 150px; padding-left: 10px; }
#cerca input.searchbut { height: 20px; width: 30px; font-size:7pt; }
#cerca a { text-decoration: none; font-size:9pt; color: #fff; }
#cerca a:hover { text-decoration: none; }

#riemp1 { width: 50px; }
#riemp2 { width: 36px; }
#riemp3 { width: 45px; }
#riemp4 { width: 42px; }
#riemp5 { width: 45px; }
#riemp6 { width: 36px; }
#riemp7 { width: 15px; }
#riemp8 { width: 30px; }

#crecon { 
	text-align: center; 
	vertical-align: top;
	width: 80px;
	padding-top: 11px;
}

#navbar {
	width: 980px;
	height: 48px;
	background: url("body-top.gif") no-repeat;
	overflow: hidden;
}

#siteheadmenu { 
	text-align: center; 
	vertical-align: top;
	width: 138px;
	padding-top: 12px;
}

#siteheadmenu a { 
	text-decoration: none;
	text-transform: uppercase;
	color: #fff; 
}

#siteheadmenu a:hover { 
	font-size: 110%;
}

#log { 
	text-align: center; 
	vertical-align: top;
	padding-top: 12px;
	width: 100px; 
}

#log a { 
	text-decoration: none;
	text-transform: uppercase;
	color: #fff; 
	font-size: 8pt; 
}

#log a:hover { 
	font-size: 95%;
}

/* PageBody */
#bmiddle {
	width: 980px;
	background: url("body-middle.gif") repeat-y;
}

#topsidebar {
	width: 160px;
	height: 7px;
	background: url("sidebar-top.gif") no-repeat;
}

#bottomsidebar {
	width: 160px;
	height: 7px;
	background: url("sidebar-bottom.gif") no-repeat;
	margin-bottom: 10px;
}

#sidebar { font-size:10pt; background-color:#c6d8e8; width:160px; }

#sidebar a { 
 display: block; height: 22px; line-height: 20px; 
 color: #0e2c60; text-decoration: none; padding-left: 5px; padding-right: 5px; 
}

#sidebar a:hover { color: #000; background-color: #D9E4F2; }

#sidebar strong { white-space:nowrap; margin-left:4px; margin-right:2px; }

#sidebar .indent { margin-left:10px; margin-right:2px; }

#sidebar h1, #sidebar h5, #sidebar h6, #sidebar .wikisearch, 
 #sidebar .divider, #sidebar .newpage, #sidebar .sidehead {
	white-space: nowrap; line-height: 20px; font-size: 0.8em; font-weight: bold; 
	text-align: left; padding-left: 20px; }
	
#sidebar ul { white-space:nowrap; font-size:9pt; background-color: #fefefe; 
  margin-left:10px; margin-right: 10px; padding:6px; list-style-type:none; }
  
#sidebarbottom a, #sidebarbottom a:visited { color:#999; }

#sidebarbottom, #sidebarbottom a, #sidebarbottom a:visited { display:none; }

#sidebar input.wikisearchbox, #sidebar input.newpagetext {
 font-size:9pt; margin-left:1px; margin-right:3px; width:100px; }
 
#sidebar input.wikisearchbutton, #sidebar input.newpagebutton {
 font-size:9pt; font-weight:normal; padding:0px; }
 
#mainsitetext { color:#000; vertical-align:top; padding-top: 10px; background-color: #fff; }

#sitebody { width:735px;}

#sitebody img { border-width:1px; }

#sitebody, #sitebody table { font-size:9.4pt; font-family: Verdana,Arial,Helvetica,sans-serif; }

/* PageFooter */
#footleft { color: #fff; font-size:9pt; padding-left:40px; padding-top: 5px; }

#footmiddle { font-size:9pt; text-align:center; padding-top: 5px; color:#000; }

#footeditsb { display:none; }

#footright { color: #fff; font-size:9pt; text-align:right; padding-top: 5px; padding-right:25px; }

#foot { background-image: url("body-bottom.gif"); background-repeat: repeat-x; height: 44px; }
 
#foot a { color: #fff; }


#sidebar, #sidebar a, #sidebar h1, #sidebar h6 {
 font-weight:normal; }
#sidebar strong { font-weight:normal; }
#footleft, #footleft a, #footmiddle, #footmiddle a, #footright, #footright a {
 font-weight:normal; }