/* General settings */
body {
	background: #CADAF7;
	font: 0.8em Verdana, Tahoma, arial, sans-serif;
	color: #555; 
	margin: 5px;
	text-align: center;
}

a, a:visited { text-decoration: none; color: #264781; background: inherit; }
a:hover { color: #829BC9; background: inherit; text-decoration: underline; }

hr { width:90%; text-align:center; color: #E0E8F7; background-color: #E0E8F7 }

h1, h2, h3, h4 { 
	color: #264781; 
	margin-top: 10px;
	padding: 0 0 5px 0;
	vertical-align:bottom;
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
}
h1 { font-size: 160%; border-bottom: 1px solid #EFF0F1; padding: 0 0 5px 0; }
h2 { font-size: 140%; padding: 0; margin-bottom: 5px; }

/* layout */
#wrap {
	width: 960px;
	
	margin: 0 auto;
	text-align: left;
	background: url("images/mainbody.png.html") repeat-y;
}

#content-wrap {
	clear: both;
	
	padding: 0; 
	margin: auto;
}

#header {
	width: 960px;
	position: relative;
	height: 103px;
	background: url("images/headerG.png.html") no-repeat center top;
	padding: 0;	
	color: #FFF;	
}

#headerM{
	width: 960px;
	position: relative;
	height: 103px;
	background: url("images/headerGm.png.html") no-repeat center top;
	padding: 0;	
	color: #FFF;	
}

#imMF { float: right; width:150px; padding: 36px 40px 0 0;  }
#imMF img { border:none;  width:60px; height:51px; background: url("images/mieiFilm.png.html") no-repeat; }
#imMF img:hover { width:150px; background: url("images/mieiFilmH.png.html") no-repeat; }

#imH { float: right; width:150px; padding: 36px 40px 0 0;  }
#imH img { border:none;  width:60px; height:51px; background: url("images/home.png.html") no-repeat; }
#imH img:hover { width:150px; background: url("images/homeH.png.html") no-repeat; }


#menu {
	background: url("images/menu-bar.png.html") no-repeat center;	
	font: bold 10px/37px Verdana, Arial, Tahoma, Sans-serif;
	height: 37px;
	width: 960px;	
	color:#E0E8F7;
}

#loguser { float: right;  padding: 0 40px 0 0; }
#loguser a:hover { color: #E0E8F7;  }

#colsx { float: left; width: 450px; 	padding: 0 15px 0 15px; }
#colsxS {}
#colsxG { 
	height:325px;
	overflow: auto;
}	

#colsx table {
	border:none;
	width:430px;
	background:#C5D7F7;
	padding:10px;
	font: bold 11px Verdana, Arial, Tahoma, Sans-serif;
	color:#333;
}
#colsx table .riga1 { background:#fff; }


#coldx {
	float: right;
	width: 360px;
	padding: 0 15px 0 15px;
	display: inline;
	height: 400px;
} 

#footer {
	color: #fff;
	background: url("images/footer.png.html") no-repeat center top;
	clear: both;
	width: 960px;
	height: 65px;
	text-align: center;	
	padding: 5px 0 0 0;	
}

#footer a { font-weight: bold; color: #C5D7F7; text-decoration: none; }
#footer a:hover { color: #E0E8F7; }

 /* pagina registrati.php */
#regIm { float:left; padding:0 15px 0 0; height:160px; } 
#registrati {
	width: 850px;
	padding: 0 15px 15px 15px;
	float: right;
}

#registrati table  {
	font: bold 12px Verdana, Arial, Tahoma, Sans-serif;
}

#registrati form {}


#messaggio { vertical-align:middle; height:20px; }
#messaggio img { margin:0 10px 0 10px;}

/* form */
.login { float: right;  padding: 0 40px 0 0; }
.login input.textbox { 
	width: 100px;
	color: #333; 
	background-color: #F4F8FE;
	height: 14px;
	margin: 0 10px 4px 4px;
	vertical-align:middle;
	border: 1px solid #E5E5E5;
	font: 9px Arial, Sans-serif; 
}
.login input.button { 
	width: 18px;
	height: 20px;
	color: #fff;
	font: bold 10px Arial, Sans-serif; 
	background: url("images/login.png.html") repeat-x;
	border:none;
	cursor: pointer;
}

.login input.button:hover{ 
	background: url("images/loginH.png.html") repeat-x;
}

.formdata table { width:350px; font: 1em Verdana, Tahoma, arial, sans-serif; }
.formdata input.textbox {
	width: 200px;
	color: #000; 
	background-color: #F4F8FE;
	height: 20px;
	vertical-align:top;
	margin: 0 0 5px 20px;
	border: 1px solid #E5E5E5;
	font: 12px Arial, Sans-serif; 
}
.formdata input.button { 
	width: 100px;
	height: 18px;
	color: #fff;
	font: bold 10px Arial, Sans-serif; 
	background: url("images/button.jpg.html") repeat-x;
	border:none;
	vertical-align:middle;
	cursor: pointer;
}
.formdata input.button:hover { background: url("images/buttonH.jpg.html") repeat-x; }



.registra input.textbox {
	width: 300px;
	color: #000; 
	background-color: #F4F8FE;
	height: 20px;
	margin: 0 0 0 20px;
	border: 1px solid #E5E5E5;
	font: 12px Arial, Sans-serif; 
}
.registra input.button { 
	width: 100px;
	height: 20px;
	color: #fff;
	font: bold 12px Arial, Sans-serif; 
	background: url("images/button.jpg.html") repeat-x;
	border:none;
	cursor: pointer;
	margin-top:10px;
}
.registra input.button:hover { background: url("images/buttonH.jpg.html") repeat-x; }